    <div class="modal-header alert-danger">
        <button type="button" class="close" data-dismiss="modal" ng-click="$dismiss(reason)">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        <h4>Ошибка заполнения формы</h4>
    </div>
    <div class="modal-body" ks-coplex-modal>
        При проверке введенных данных обнаружены ошибки. <br />
        Пожалуйста, исправьте ошибки указанные на форме для сохранения.
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss(reason)">Ок</button>
    </div>
